//
//  Config.xcconfig
//  freegato
//
//  Created by Chris Wong on 27/3/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = live_HAEV7RxKffjQOZk1a0zfiYOxUPhDBFk7DnRisJBTYiHNSiiFwOgkVxdNIUvBwScI
